/*Allowed fonts: Times New Roman, Verdana, Georgia, Arial, Helvetica, sans-serif*/
h1{
    font-family: Impact, Haettenschweiler;
    text-decoration: underline;
    text-align: center;
    color: white
}

a:link{
    font-weight: bold;
    color: white    
}

a:visited{
    color: lightgray
}

ol{
    font-style: italic;
    font-weight: bold;
}

ul{
    font-style: normal;
    font-weight: normal;
}

